<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css"/>  
</head>
<body>
    <h2>This page belongs to : @<%= data.name%></h2>
    <button>Follow</button>
    <button>Message</button>
    <h3>Accounts that follow you  </h3>
   <p>Followers : <%= data.followers %></p>
   <h3>Accounts that  you  follow </h3>
   <p>Followings : <%= data.following %></p>
   <hr>
<% for( let post of data.posts ) { %>
<img src="<%= post.image %>" alt="some img">
<p> 
    Likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;
    comments: <%= post.comments%>
</p>
<% } %>
</body>
<script src="/script.js"></script>
</html>